:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  /* footer, font white-transparency */
  --transparent-white-text-color: rgba(255, 255, 255, 0.6);
  /* hero,footer*/
  --main-background-color: #2f303a;
  --white-background-color: #ffffff;
  /*hover-for-hero-btn:*/
  --add-btn-accent-color: #188ce8;
  /*team :*/
  --add-background-color: #f5f4fa;
  --border-color-header: #ececec;
  --border-color-projects: #eeeeee;
  }

body {
  font-family: 'roboto', sans-serif;
  color: var(--title-text-color);
  background-color: var(--white-background-color);
  /*letter-spacing в макеті зустрічається три значення цієї 
  властивості. Цей самий розповсюджений, тому я його внесла в body*/
  letter-spacing: 0.03em;
}
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}
ul {
  margin: 0;
  padding-left: 0;
}


.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.card {
  display: block;
}

.logo {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  color: var(--accent-color);
}
.title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}
/* додає спільні (повторювані) стилі для всіх кнопок
див. .hero-btn .filter-btn
 */
.btn {
  font-family: inherit;
  font-size: 16px;
  text-align: center;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}
/* -----------HEADER---------------- */
/* можно убрать паддинги для хедера и задать 
маржини елементам. как в макете, также убрать свойство */
.header {
  border-bottom: 1px solid var(--border-color-header);
}

.header .container,
.header-nav-list,
.header-contact-list
 {
  display: flex;
  align-items: center;
}
.header-nav { 
  margin-left: 0;
  margin-right: 0;

}
.header-nav-list {
  min-width: 281px;
  /* justify-content: space-between; */
}
.header-nav-list .header-item + .header-item {
  margin-left: 50px;
}
.header-contact-list {
  margin-right: 0;
  margin-left: auto;
}
 
.header-contact-item:not(:first-child) {
  margin-left: 50px;
}
.header .logo {
  display: block;
  margin-right: 93px;
  margin-left: 0;
  padding-top: 24px;
  padding-bottom: 25px;
}
.header-logo {
  color: var(--black-text-color);
}
.header-nav-link,
.header-contact-link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
}
.header-nav-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: inherit;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--accent-color);
}
/*не працює, why? */
.header-nav-link:active {
  color: var(--accent-color);
}
.current {
  color: var(--accent-color);
}

.header-contact-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color);
}
.header-contact-link:hover,
.header-contact-link:focus {
  color: var(--accent-color);
}
/* main */

/* --------------HERO---------------- */
.hero {
  padding-top: 200px;
  padding-bottom: 200px;

  background-color: var(--main-background-color);
  
}

.hero-title {
  width: 696px;
  margin: 0 auto 30px;
  text-align: center; 

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--white-text-color);
}
.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 216px;
  height: 50px;
  padding: 10px 32px;
   
  font-weight: 700;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--add-btn-accent-color);
}

/*-------- FEATURE------------ */

.features-list {
display: flex;
}
.features-item {
  width: 270px;
}
.features-item:not(:last-child) {
  margin-right: 30px;
}
.features-subtitle {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features-descr {
  font-size: 14px;
  line-height: 1.71;
  color: var(--primary-text-color);
}
/*----------- activities----------- */
.activities.section {
  padding-top: 0;
}
.activities-list {
  display: flex;
  column-gap: 30px;
}
/* .activities-item:not(:last-child) { 
  margin-right: 30px;
}*/
.activities-item {
  width: calc((100% - 60px) / 3);
}

/*----------- team--------------- */
.team {
  background-color: var(--add-background-color);
}
.team-list{
  display: flex;
  column-gap: 30px;
}
.team-item {
  width: calc((100% - 90px) / 4);
  
  background-color: var(--white-text-color);
}
.team-block-title {
  padding-top: 30px;
  padding-bottom: 30px;
}
/* .team-item {
  padding-bottom: 30px;
 } */
/* .team-item:not(:last-child) {
  margin-right: 30px;
} */

.team-subtitle {
  margin-bottom: 10px;
  text-align: center;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  
}
.team-descr {
  text-align: center;

  font-size: 16px;
  line-height: 1.19;
  color: var(--primary-text-color);
}
/* footer */

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--main-background-color);
}
.footer .logo {
  display: inline-block;
  margin: 0 0 20px;
}
.footer-logo {
  color: var(--white-text-color);
}
.address {
  font-style: normal;
}
.footer-contact-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--transparent-white-text-color);
}
.footer-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contact-link[href="https://goo.gl/maps/JHCXsqgSBJYCVwFo8"]
{
  color: var(--white-text-color);
}
.footer-contact-link:hover,
.footer-contact-link:focus {
  color: var(--accent-color);
}

/*--------portfolio------------ */

.filter-list {
  display: flex;
  justify-content: center;
}
.filter-item {
  margin-bottom: 50px;
}
.filter-item:not(:last-child) {
  margin-right: 8px;
}
.filter-btn {
  min-width: 73px;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 1.63;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  background-color: var(--add-background-color);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}
.current-btn {
  color: var(--white-text-color);
  background-color: var(--accent-color);
}

/* ----------projecte----------- */

.projects-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  }
.projects-item {
  width: 370px;
  /* height: 404px; */

}
.projects-link .card { 
  width: 370px;
  height: auto;
 
}
.projects-block-title {
  padding: 20px 24px;
  border: 1px solid var(--border-color-projects);
  border-top: none;
}

.projects-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  text-align: left;
  letter-spacing: 0.06em;
}
.projects-descr {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color);
}
